<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>원화 환전</title>
    <style>
        body { font-family: Arial, sans-serif; text-align: center; padding: 20px; }
        input { padding: 10px; margin: 10px; }
        button { padding: 10px; cursor: pointer; }
        #result { margin-top: 20px; font-size: 18px; }

    </style>
</head>
<body>
    <h2>달러 환전</h2>
    
    <form action="/exchange" method="POST">
        <label for="amount">달러 화폐단위로 분해할 금액 </label>
        <input type="text" id="currency" name="currency" min="0" value="USD" required>
        <input type="number" id="amount" name="amount" min="0" required>
        <button type="submit">계산하기</button>
    </form>
        {{ render_html | default('') | safe }}

  
</body>
</html>
