<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>거스름돈 계산기</title>
    <style>
        body { font-family: Arial, sans-serif; text-align: center; padding: 20px; }
        input { padding: 10px; margin: 10px; }
        button { padding: 10px; cursor: pointer; }
        #result { margin-top: 20px; font-size: 18px; }

    </style>
</head>
<body>
    <h2>환전하려는 화폐종류를 선택하세요</h2>
    <a href="/dollar">💲달러화</a>
    <a href="/won">💲원화</a>
    <h2>배낭문제제</h2>
    <a href="/knapsack">배낭문제</a>
    


  
</body>
</html>
